function setup() {
    createCanvas(windowWidth, windowHeight);
    frameRate(45);
  
    rectMode(CENTER);


.cursor {
  z-index: 999;
  background: #2696e8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0, 0, 20px #2696e8, 0, 0, 60px #2696e8, 0, 0, 100px #2696e8;
}

.cursor::before {
  content: ;
  position: absolute;
  background: #2696e8;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}
